.header {
    width: 100%;
    padding: 1em;
}

.header div {
    display: flex;
    margin-top: 1em;
}

.header div h3 {
    margin-right: 1em;
}

.header div span {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 1em;
    gap: 2em;
}