.container {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2 {
    margin-bottom: 1em;
}

.container table tbody tr td,.container table thead th{
    padding: 10px;
}