.msg {
    width: 400px;
    height: 40px;
    background-color: rgb(165, 7, 7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    margin-block: 1em;
    font-weight: bold;
}